In [13]:
import pandas as pd

In [14]:
df=pd.read_csv("WELFake_Dataset.csv")

In [15]:
df.head()

,Unnamed: 0,title,text,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,1,NaN,Did they post their votes for Hillary already?,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1

In [16]:
df.columns = ['id'] + list(df.columns[1:])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72134 entries, 0 to 72133
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      72134 non-null  int64
 1   title   71576 non-null  object
 2   text    72095 non-null  object
 3   label   72134 non-null  int64
dtypes: int64(2), object(2)
memory usage: 2.2+ MB

In [18]:
df.describe()

                 id         label
count  72134.000000  72134.000000
mean   36066.500000      0.514404
std    20823.436496      0.499796
min        0.000000      0.000000
25%    18033.250000      0.000000
50%    36066.500000      1.000000
75%    54099.750000      1.000000
max    72133.000000      1.000000

In [19]:
df.isnull().sum()

id         0
title    558
text      39
label      0
dtype: int64

In [20]:
df=df.fillna('')

In [21]:
df.isnull().sum()

id       0
title    0
text     0
label    0
dtype: int64

In [22]:
df.columns

Index(['id', 'title', 'text', 'label'], dtype='object')

In [23]:
df=df.drop(['id', 'title'], axis=1)

In [24]:
df.head()

                                                text  label
0  No comment is expected from Barack Obama Membe...      1
1     Did they post their votes for Hillary already?      1
2   Now, most of the demonstrators gathered last ...      1
3  A dozen politically active pastors came here f...      0
4  The RS-28 Sarmat missile, dubbed Satan 2, will...      1

In [25]:
from nltk.corpus import stopwords

In [26]:
from nltk.stem.porter import PorterStemmer

In [27]:
import re

In [28]:
port_stem=PorterStemmer()

In [29]:
port_stem

In [30]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [31]:
port_stem.stem("Hi thIs is Arman * % %@@@")

'hi this is arman * % %@@@'

In [32]:
def stemming(content):
    con=re.sub('[^a-zA-Z]', ' ', content)
    con=con.lower()
    con=con.split()
    con=[port_stem.stem(word) for word in con if not word in stopwords.words('english')]
    con=' '.join(con)
    return con

In [33]:
stemming('Hi this is Arman')

'hi arman'

In [22]:
df['text']= df['text'].apply(stemming)

In [34]:
x=df['text']

In [35]:
y=df['label']

In [36]:
y.shape

(72134,)

In [37]:
from sklearn.model_selection import train_test_split

In [38]:
x_train , x_test , y_train, y_test = train_test_split(x, y, test_size=0.20)

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [40]:
vect=TfidfVectorizer()

In [42]:
x_train=vect.fit_transform(x_train)
x_test=vect.transform(x_test)

In [43]:
x_test.shape

(14427, 220390)

In [32]:
from sklearn.tree import DecisionTreeClassifier

In [33]:
model=DecisionTreeClassifier()

In [34]:
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [35]:
prediction=model.predict(x_test)

In [36]:
prediction

array([0, 1, 1, ..., 1, 1, 0], dtype=int64)

In [37]:
model.score(x_test, y_test)

0.9202883482359465

In [38]:
import pickle

In [39]:
pickle.dump(vect, open('vector.pkl', 'wb'))

In [40]:
pickle.dump(model, open('model.pkl', 'wb'))

In [41]:
vector_form=pickle.load(open('vector.pkl', 'rb'))

In [42]:
load_model=pickle.load(open('model.pkl', 'rb'))

In [43]:
def fake_news(news):
    news=stemming(news)
    input_data=[news]
    vector_form1=vector_form.transform(input_data)
    prediction = load_model.predict(vector_form1)
    return prediction

In [65]:
val=fake_news("""Trump to nominate retired General Mattis for Pentagon""")

In [66]:
if val==[0]:
    print('reliable')
else:
    print('unreliable')

unreliable

In [70]:
from sklearn.metrics import accuracy_score

# accuracy score on the training data
X_train_prediction = model.predict(x_train)
training_data_accuracy = accuracy_score(X_train_prediction, y_train)

print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.99996534215953